@keyframes showMobileNavigation {
	from {
		width: 0;
	}
	to {
		width: 60vw;
	}
}

@keyframes showOverlay {
	from {
		width: 0;
	}
	to {
		width: 100vw;
	}
}

@keyframes showNotification {
	from {
		height: 0;
		padding: 0 2rem;
		opacity: 0;
	}
	to {
		opacity: 1;
		height: max-content;
		padding: 2rem 2rem;
	}
}

