.day__container {
	padding: 12rem 0 0 0;

	@media only screen and(min-width: 800px) {
		padding: 4rem 0 0 0;
	}
}

.day__header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&-description {
		display: flex;
		color: $font-secondary;
		font-family: $font-open-sans;
		font-size: $font-size-1;
		font-weight: $light;
		position: relative;
		padding-bottom: 0.5rem;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 4rem;
			height: 1px;
			background-color: $color-danger;
		}
	}
	&-separator {
		font-size: 1.6rem;
		margin: 0 1rem;
	}

	&-btn {
		display: flex;
		align-items: center;
		font-family: $font-open-sans;
		font-size: $font-size-3;
		font-weight: $light;
		color: $font-secondary;
	}
	&-icon {
		width: 2rem;
		margin-right: 1rem;
		transition: all 0.3s ease;
	}
	.day__header-btn:hover .day__header-icon {
		margin-right: 0.5rem;
	}
}

// ************* Day Video styles
.day__video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	width: 100%;
	margin: 3rem auto;

	@media only screen and(max-width: 600px){
		width: 100%;
	}
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// ************* Day Tool styles
.day__tool {
	text-align: center;
	font-family: $font-source-sans;
	font-size: $font-size-1;
	font-weight: $light;
	color: $font-secondary;

	@media only screen and(min-width: 1024px) {
		font-size: 2.2rem;
	}
	&-quote {
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 1px;
			width: 4rem;
			background-color: $color-danger;
		}
	}
	&-author {
		font-weight: $bold;
	}
}

.day__footer {
	font-family: $font-open-sans;
	font-size: $font-size-3;
	font-weight: $light;
	color: $font-secondary;
	text-align: center;
	margin: 6rem 0 2rem 0;
}
