.day__container {
	padding: 4rem 0;
	@media only screen and(max-width: 800px) {
		padding-top: 15rem;
	}
}

// *********** Day navigation styles
.day__navigation {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;
	// ************ Day description styles

	&-description {
		display: flex;
		position: relative;
		padding-bottom: 1rem;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 3rem;
			height: 1px;
			background-color: $color-danger;
		}
	}

	&-text {
		font-family: $font-source-sans;
		font-weight: $light;
		font-size: 1.8rem;
		color: $font-secondary;
	}

	&-separator {
		font-size: 2rem;
		margin: 0 2rem;
		color: $font-secondary;
	}

	// ***************** Day back link styles
	&-link {
		display: flex;
		align-items: center;
		font-family: $font-source-sans;
		font-weight: $light;
		font-size: 1.8rem;
		color: $font-secondary;
	}
	&-icon {
		width: 2.5rem;
		margin-right: 1.5rem;
		transform: rotate(180deg);
		transition: margin-right 0.4s;
	}
	.day__navigation-link:hover.day__navigation-link img {
		margin-right: 1rem;
	}
}

// ****************** Day video styles
.day__video {
	width: 70%;
	margin: 0 auto;
	height: 40rem;
	background-color: $color-primary;
	margin-bottom: 5rem;

	@media only screen and(max-width: 1300px) {
		width: 80%;
	}
	@media only screen and(max-width: 1100px) {
		width: 90%;
	}
	@media only screen and(max-width: 800px) {
		width: 100%;
	}
}

// ***************** Day Tool styles
.day__tool {
	width: 100%;
	text-align: center;
	font-family: $font-source-sans;
	font-size: 2rem;
	font-weight: $light;
	color: $font-secondary;
	margin-bottom: 5rem;
	&-quote {
		position: relative;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 4rem;
			height: 1px;
			background-color: $color-danger;
		}
	}
	&-author {
		font-weight: $bold;
	}
}

// ******************* Day form styles
.day__form {
	width: 70%;
	margin: 0 auto;
	padding: 4rem 4rem;
	background-color: $color-primary;
	border-radius: 20px;
	display: flex;
	flex-direction: column;

	@media only screen and(max-width: 1300px) {
		width: 80%;
	}
	@media only screen and(max-width: 1100px) {
		width: 90%;
	}
	@media only screen and(max-width: 800px) {
		width: 100%;
	}
	.form__heading {
		text-align: center;
		font-family: $font-source-sans;
		font-size: 2.2rem;
		color: $font-secondary;
		font-weight: $light;
		margin-bottom: 4rem;
	}
	.form__group {
		position: relative;
		margin-bottom: 4rem;
	}
	.form__input {
		width: 100%;
		padding: 1rem;
		font-size: 1.6rem;
		font-family: $font-open-sans;
		font-weight: $light;
		background-color: $color-primary;
		color: $font-secondary;
		border: none;

		&:focus {
			outline: none;
		}
	}
	.form__label {
		font-size: 1.6rem;
		font-family: $font-open-sans;
		font-weight: $light;
		color: $font-secondary;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-bottom: 1px solid $color-secondary;
		pointer-events: none;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 1px;
			transition: all 0.3s ease;
			background-color: $color-neutral;
		}

		&-content {
			position: absolute;
			bottom: 1rem;
			left: 1rem;
			transition: all 0.3s ease;
		}
	}

	.form__input:focus + .form__label .form__label-content,
	.form__input:not(:placeholder-shown) + .form__label .form__label-content {
		transform: translateY(-150%);
		font-size: 1.4rem;
		color: rgba($font-secondary, 0.6);
	}

	.form__input:focus + .form__label::after {
		width: 100%;
	}

	// *************** Form button
	.form__button {
		width: 30rem;
		background-color: $color-danger;
		border: none;
		border-radius: 10px;
		padding: 1.5rem 0;
		font-family: $font-source-sans;
		font-size: 1.8rem;
		color: $font-secondary;
		font-weight: $light;
		cursor: pointer;
		transition: all 0.3s ease;
		align-self: center;
		&:hover {
			transform: translateY(-5px);
		}
	}
}
