.main__content {
	padding: 14rem 0 0 0;
	position: relative;
	@media only screen and(min-width: 800px) {
		padding: 4rem 0 0 0;
	}
}

// ********* Footer styles
.main__footer {
	text-align: center;
	width: 100%;
	padding: 2rem 0;
	font-family: $font-open-sans;
	font-size: $font-size-3;
	font-weight: $light;
	color: $font-secondary;
	text-align: center;
}
