.welcome__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	.welcome__text {
		text-align: center;
		margin-bottom: 8rem;
		&-quote {
			font-family: $font-source-sans;
			font-size: 2.5rem;
			font-weight: $light;
			color: $font-secondary;
			margin-bottom: 1rem;
		}
		&-author {
			font-family: $font-open-sans;
			font-size: 1.8rem;
			font-weight: $bold;
			color: $font-secondary;
			padding-top: 1rem;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 3rem;
				height: 1px;
				background-color: $color-danger;
			}
		}
	}

	// ************* WEEK STYLES **************** //
	.week__container {
		width: 90rem;
		margin-bottom: 2rem;
		&:last-child {
			margin-bottom: 0;
		}
		@media only screen and(max-width: 1400px) {
			width: 80rem;
		}
		@media only screen and(max-width: 1260px) {
			width: 70rem;
		}
		@media only screen and(max-width: 1100px) {
			width: 60rem;
		}
		@media only screen and(max-width: 950px) {
			width: 55rem;
		}
		@media only screen and(max-width: 860px) {
			width: 47rem;
		}
		@media only screen and(max-width: 800px) {
			width: 100%;
		}
	}
	.week {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem 1.5rem 1.5rem 3rem;
		border-radius: 10px;
		background-color: $color-primary;
		transition: transform 0.4s;
		&:hover {
			transform: translateY(-5px);
		}

		span {
			font-family: $font-open-sans;
			font-size: 2rem;
			color: $font-secondary;
			font-weight: $light;
		}

		&__icon {
			background-color: $color-danger;
			display: flex;
			justify-content: center;
			align-content: center;
			padding: 0.5rem;
			border-radius: 10px;
			&-img {
				width: 2.5rem;
			}
		}
	}

	// ************* WEEK DAYS STYLES ************* //
	.week__days {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		padding: 0 2rem;
		height: 0;
		opacity: 0;
	}
	.week__day {
		width: 15rem;
		height: 15rem;
		background-color: $color-primary;
		border-radius: 10px;
		margin-right: 2.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		&:last-child {
			margin-right: 0;
		}
		&-text {
			font-family: $font-source-sans;
			font-weight: $light;
			font-size: 2.5rem;
			color: $font-secondary;
			margin-bottom: 1rem;
		}
		&-number {
			font-family: $font-source-sans;
			font-weight: $light;
			font-size: 6rem;
			color: $font-secondary;
		}
	}

	.week__day-show {
		animation-duration: 0.4s;
		animation-name: weekDaysShow;
		animation-fill-mode: forwards;
	}
	.week__day-hide {
		animation-duration: 0.4s;
		animation-name: weekDaysHide;
		animation-fill-mode: forwards;
	}

	.locked__day-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba($color-primary, 1);
		border-radius: 10px;
		opacity: 0;
		display: none;
		transition: overlay 0.5;
		img {
			width: 5rem;
		}
	}

	.week__day-locked .locked__day-overlay {
		display: flex;
		opacity: 1;
	}
}
