.container {
	background-color: $color-secondary;
	display: grid;
	grid-template-columns: 30rem 1fr;
	min-height: 100vh;

	@media only screen and(max-width: 1024px) {
		grid-template-columns: 25rem 1fr;
	}
	@media only screen and(max-width: 800px) {
		grid-template-columns: 1fr;
		align-items: center;
	}

	.content__container {
		grid-column: 2 / 3;
		max-width: 100rem;
		padding: 4rem;
		justify-self: center;
		overflow-x: hidden;
		@media only screen and(max-width: 800px) {
			grid-column: 1 / -1;
			width: 100%;
		}
		@media only screen and(max-width: 500px) {
			padding: 3rem;
		}
	}
}
