.header {
	display: none;
	width: 100vw;
	height: 9rem;
	background-color: $color-primary;
	border-radius: 0 0 40px 40px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 3rem;
	z-index: $header;
	box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.1);
	@media only screen and(max-width: 800px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__user {
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		background-color: $color-danger;
		display: flex;
		justify-content: center;
		align-items: center;

		&-name {
			font-family: $font-source-sans;
			font-weight: $light;
			font-size: 2.5rem;
			color: $font-secondary;
		}
	}

	&__burger {
		width: 4rem;

		span {
			display: block;
			width: 100%;
			height: 3px;
			margin-bottom: 6px;
			background-color: $color-neutral;
			border-radius: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
