.header {
	display: none;
	width: 100vw;
	height: 9rem;
	background-color: $color-primary;
	border-radius: 0 0 40px 40px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 3rem;
	z-index: $header;
	box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.1);
	@media only screen and(max-width: 800px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__user {
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		background-color: $color-danger;
		display: flex;
		justify-content: center;
		align-items: center;

		&-name {
			font-family: $font-source-sans;
			font-weight: $light;
			font-size: 2.5rem;
			color: $font-secondary;
		}
	}

	// Burger Button styles
	&__burger {
		display: block;
		span {
			width: 4rem;
			height: 3px;
			background-color: $color-neutral;
			display: block;
			border-radius: 5px;
			margin-bottom: 5px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// Mobile navigation close btn
	&__mobileCloseBtn {
		display: none;
		opacity: 0;
		transform: translateX(5px);
		img {
			width: 2.5rem;
		}
	}
}

.showElement {
	display: block;
}
.hideElement {
	display: none;
}
