.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	overflow: hidden;
	height: 100vh;
	background-color: $color-primary;
	display: flex;
	flex-direction: column;
	z-index: $sidebar;
	justify-content: center;
	@media only screen and(min-width: 800px) {
		width: 25rem;
		justify-content: space-between;
	}
	@media only screen and(min-width: 1024px) {
		width: 30rem;
	}

	// ********* Sidebar welcome styles

	&__welcome {
		background-color: $color-danger;
		padding: 4rem 0;
		text-align: center;
		border-radius: 0 0 40px 40px;
		display: none;
		@media only screen and(min-width: 800px) {
			display: block;
		}
		&-text {
			font-family: $font-open-sans;
			font-size: 2rem;
			font-weight: $light;
			color: $font-secondary;
			margin-bottom: 1.5rem;
		}

		&-name {
			font-family: $font-source-sans;
			font-size: 3rem;
			font-weight: $bold;
			color: $font-secondary;
		}
	}

	// ******** Sidebar navigation styles

	&__navigation {
		padding: 10rem 0rem 5rem 0rem;

		// Navigation link styles
		&-link {
			display: flex;
			align-items: center;
			padding: 1.5rem 4rem;
			font-family: $font-open-sans;
			font-size: 1.6rem;
			font-weight: $light;
			color: $font-secondary;
			border-radius: 40px 0 0 40px;
			margin-bottom: 1rem;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				border-radius: 40px 0 0 40px;
				height: 100%;
				width: 0;
				transition: 0.4s;
				background-color: $color-secondary;
				z-index: 1;
			}
			span {
				z-index: 2;
			}
		}
		.sidebar__navigation-link:hover.sidebar__navigation-link:before {
			width: 100%;
		}
		&-link--active {
			background-color: $color-secondary;
		}

		// navigation icon styles
		.sidebar__icon {
			width: 2rem;
			margin-right: 2rem;
			z-index: 2;
			transition: 0.4s;
		}
	}

	// Account navigation part
	&__navigation-account {
		margin-top: 10rem;
		padding-top: 1rem;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 4rem;
			width: 4rem;
			height: 1px;
			background-color: $color-danger;
		}
	}
	&__navigation-logout {
		display: flex;
		align-items: center;
		padding: 1.5rem 4rem;
		font-family: $font-open-sans;
		font-size: 1.5rem;
		font-weight: $light;
		color: $font-secondary;
		border-radius: 40px 0 0 40px;
		margin-bottom: 1rem;
		position: relative;
	}
	.sidebar__navigation-logout:hover.sidebar__navigation-logout img {
		margin-right: 1.5rem;
	}
}

.sidebarShow {
	animation-name: showMobileNavigation;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}

.sidebarOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	z-index: $sidebarOverlay;
	background-color: rgba(0, 0, 0, 0.1);
}

.sidebarOverlay-show {
	animation-name: showOverlay;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
