// *************** Week container styles
.week__container {
	margin-bottom: 3rem;
}

// *************** Week stlyes
.week {
	height: 7rem;
	background-color: $color-primary;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	padding: 0 2rem;
	transition: transform 0.3s ease;
	&__number {
		font-family: $font-source-sans;
		font-size: $font-size-4;
		font-weight: $light;
		color: $font-secondary;
	}
	&__icon {
		width: 3rem;
		height: 3rem;
		background-color: $color-danger;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 2rem;
		}
	}
	&:hover {
		transform: translateY(-5px);
	}
}

// ********* Week days
.week__days {
	display: flex;
	flex-wrap: wrap;
	padding: 0rem 1.5rem;
	width: 100%;
	overflow: hidden;
	justify-content: center;
}

.week__day {
	height: 15rem;
	width: 15rem;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	margin: 1rem;
	background-color: $color-primary;
	position: relative;

	@media only screen and(max-width: 430px) {
		width: 13rem;
		height: 13rem;
		margin: 0.5rem;
	}
	@media only screen and(max-width: 375px) {
		width: 11rem;
		height: 11rem;
	}

	&-text {
		font-family: $font-source-sans;
		font-size: $font-size-4;
		color: $font-secondary;
		font-weight: $light;
	}
	&-number {
		font-family: $font-open-sans;
		font-size: 5rem;
		color: $font-secondary;
		font-weight: $light;
		@media only screen and(max-width: 430px) {
			font-size: 3rem;
		}
	}

	&-success {
		display: none;
		width: 2rem;
	}
}

.dayCompleted .week__day-success {
	display: block;
}

.day__overlay {
	display: none;
}
.week__day-locked .day__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	z-index: 2;
	background-color: $color-primary;
	img {
		width: 4rem;
	}
}
