// *************** Week container styles
.week__container {
	margin-bottom: 3rem;
}

// *************** Week stlyes
.week {
	height: 7rem;
	background-color: $color-primary;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	padding: 0 2rem;
	transition: transform 0.3s ease;
	&__number {
		font-family: $font-source-sans;
		font-size: $font-size-4;
		font-weight: $light;
		color: $font-secondary;
	}
	&__icon {
		width: 3rem;
		height: 3rem;
		background-color: $color-danger;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 2rem;
		}
	}
	&:hover {
		transform: translateY(-5px);
	}
}

// ********* Week days
.week__days {
	display: flex;
	padding: 0rem 1.5rem;
	width: 100%;
	overflow: hidden;
	height: 0;
	flex-wrap: wrap;
	justify-content: center;
}

.week__days-active {
	animation: activeDays 0.8s forwards;
}

.week__day {
	width: 15rem;
	height: 15rem;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $color-primary;
	margin-right: 1.5rem;
	position: relative;
	transform: translateY(-50px);
	opacity: 0;
	margin-bottom: 1rem;
	&-text {
		font-family: $font-source-sans;
		font-size: $font-size-4;
		color: $font-secondary;
		font-weight: $light;
		margin-bottom: 1rem;
	}
	&-number {
		font-family: $font-open-sans;
		font-size: 5rem;
		color: $font-secondary;
		font-weight: $light;
	}
}
.day__overlay {
	display: none;
}
.week__day-locked .day__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	z-index: 2;
	background-color: $color-primary;
	img {
		width: 4rem;
	}
}
