@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Sans+Pro:300,400&display=swap');

//  font families
$font-open-sans: 'Open Sans', sans-serif;
$font-source-sans: 'Source Sans Pro', sans-serif;

//  font weight
$light: 300;
$bold: 400;
