@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Sans+Pro:300,400&display=swap');

//  font families
$font-open-sans: 'Open Sans', sans-serif;
$font-source-sans: 'Source Sans Pro', sans-serif;

//  font weight
$light: 300;
$bold: 400;

// Font sizes

$font-size-1: 1.8rem;
$font-size-2: 1.6rem;
$font-size-3: 1.4rem;
$font-size-4: 2rem;
