// Background colors
// $color-danger: #de3c4b;
$color-danger: #7dcd85;
$color-neutral: #f7ebec;
$color-primary: #0a202e;
$color-secondary: #022e43;
$color-dark: #121619;

// Font colors
$font-primary: #121619;
$font-secondary: #f7ebec;
$font-danger: #de3c4b;

// Z - indexes
$header: 20;
$sidebar: 19;
$sidebarOverlay: 18;
$loader: 18;
